<div id="cambiar_password">
  <h1>Cambiar contrase単a</h1>

  <%= form_tag realizar_cambio_password_usuario_path do %>

    <p>
      <% if not flash.now[:error].nil? %>
        <%= flash.now[:error] %>
      <% end %>
    </p>
    
    <p>
      <%= label_tag :password_actual, 'Escriba la contrase単a actual:' %>
      <%= password_field_tag :password_actual, '' %>
    </p>

    <hr/>

    <p>
      <%= label_tag :password, 'Escriba la nueva contrase単a:' %>
      <%= password_field_tag :password, '' %>
    </p>

    <p>
      <%= label_tag :password2, 'Confirme la nueva contrase単a:' %>
      <%= password_field_tag :password2, '' %>
    </p>

    <p class="boton">
      <%= submit_tag 'Aceptar' %>
    </p>

    <div class="cb"></div>

  <% end %>

</div>